h3 Trade logger
p 
  | Log all your trades into the system.  View your history.  Search on 
  |all trades to see how you are doing in relation to your peers.  
h3 Route calculator
p
  |Using the latest trading history from all users, find the best profit
  |routes.
h3 Help keep data accurate
p
  |Downvote trades that are incorrect.  Routes can be filtered to ignore
  |trades that have been downvoted.
