doctype html
html
  head
    title Elite:Dangerous Trading Log
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/static/css3-social-signin-buttons/auth-buttons.css')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/eggplant/jquery-ui.css')
    block scripts
  body
    div#wrap
      div#header
        h1 Elite:Dangerous Trading Log
        span.version Proof of Concept
      noscript 
        h2 Please enable javascript
        p Filters and queries run asyncronously
      block content
      div#footer
        p Copyright 2014 Harry Sorensen, all rights reserved

