extends layout

block content
  include about
  h3 To get started, sign in with one of the follwing services:
  div#login-services
    a(href='auth/facebook').btn-auth.btn-facebook.large Sign in with Facebook
